body { 
    font-family: "Ubuntu", sans-serif; 
    background-color: #B0EBB4; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

h1 {
    text-decoration: underline;
    color: #333; /* Darker color for better visibility */
}

.container { 
    background-color: #fff; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Slightly increased shadow for depth */
    border-radius: 10px; /* Increased border-radius for softer corners */
    padding: 30px; /* More padding for a spacious feel */
    text-align: center; 
    max-width: 400px; /* Max width to ensure it doesn't stretch too wide */
    width: 90%; /* Responsive width */
}

.header { 
    text-align: center; 
}

h1 { 
    font-size: 30px; /* Increased font size */
    margin-bottom: 15px; /* Increased bottom margin */
    color: #000; 
} 

hr { 
    border: 1px solid #ddd; 
    margin: 20px 0; 
} 

input[type="text"] { 
    width: 100%; 
    padding: 12px; /* Increased padding for better touch target */
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    transition: border-color 0.3s; /* Smooth transition on focus */
}

input[type="text"]:focus {
    border-color: #40A578; /* Change border color on focus */
}

.qrcode { 
    margin: 20px 0; 
}

button { 
    background-color: #18412e; 
    color: #fff; 
    padding: 12px 25px; /* Increased padding for better appearance */
    font-size: 16px; 
    font-weight: bold;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    outline: none; 
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover { 
    background-color: #40A578; 
}

/* Additional styles for better layout */
.container > button {
    margin: 5px 0; /* Add margin between buttons */
}
